<!-- views/skills.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills Lab</title>
</head>
<body>
    <h1>Owen's Awesome Dev Skills</h1>
    <a href="/skills/new-skill">Add New Skill</a>
    <p>
      <ul>
        <% skills.forEach(function(t) { %>
          <li>
            <p><form action="/skills/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit">x</button>
              </form>
              <a href="/skills/<%= t.id %>">
                <%= t.skill %>
              </a>
                - 
                <%= t.mastered ? 'working knowledge' : 'still learning' %>
          </li></p>
        <% }) %>
      </ul>
    </p>
</body>
</html>
   


